*{
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: rgb(92, 90, 90);
  }

.container{
    width: 80%;
    margin: auto;
    background-color: rgb(142, 138, 138);
}